@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 3, 105, 161;
}

body {
  color: rgb(31, 41, 55);
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
